@font-face {
	font-family: 'Cormorant Garamond';
	src: local('CormorantGaramond-Regular'), url('CormorantGaramond-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cormorant Garamond';
	src: local('CormorantGaramond-Medium'), url('CormorantGaramond-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@charset "utf-8";
@font-face {
	font-family: 'Cormorant Garamond';
	src: local('CormorantGaramond-Italic'), url('CormorantGaramond-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Cormorant Garamond';
	src: local('CormorantGaramond-MediumItalic'), url('CormorantGaramond-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}